{% extends 'app.html.twig' %}

{% block title %}{{ t.trans('catalog.add.title') }} | {{ t.trans('app.title') }}{% endblock %}

{% block body %}
    {% include 'component/flash.html.twig' %}

    <h1>{{ t.trans('catalog.add.title') }}</h1>

    <form action="" method="post">
        {% include 'component/csfr_token.html.twig' %}

        <div class="mb-3">
            <label for="name" class="form-label">{{ t.trans('catalog.add.form.name') }}</label>
            {% for flash in flash.getAllByLabel('error.name') %}
                <p style="color: red">{{ flash.message }}</p>
            {% endfor %}
            <input type="text" class="form-control" required name="name" id="name"
                   value="{{ request.post('name', catalog.name) }}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">{{ t.trans('catalog.add.form.create') }}</button>
        </div>
    </form>
{% endblock %}