{% extends 'app.html.twig' %}

{% block title %}{{ t.trans('catalog.edit.header', {'%name%': catalog.name}) }} | {{ t.trans('app.title') }}{% endblock %}

{% block body %}
    {% include 'component/flash.html.twig' %}

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-4">{{ t.trans('catalog.edit.header', {'%name%': catalog.name}) }}</h1>

                    <form action="" method="post">
                        {% include 'component/csfr_token.html.twig' %}

                        <div class="mb-3">
                            <label for="name" class="form-label">{{ t.trans('catalog.edit.form.name') }}</label>
                            {% for flash in flash.getAllByLabel('error.name') %}
                                <p style="color: red">{{ flash.message }}</p>
                            {% endfor %}
                            <input type="text" class="form-control" required name="name" id="name"
                                   value="{{ request.post('name', catalog.name) }}">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">{{ t.trans('catalog.edit.form.save') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-4">{{ t.trans('catalog.edit.shareWith') }}</h1>

                    <form action="{{ route.make('catalog_share', {catalog: catalog.id}) }}" method="post">
                        {% include 'component/csfr_token.html.twig' %}
                        <div class="mb-3">
                            <label for="username" class="form-label">{{ t.trans('catalog.edit.shareForm.username') }}</label>
                            <input type="text" class="form-control" required name="username" id="username">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">{{ t.trans('catalog.edit.shareForm.share') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-4">{{ t.trans('catalog.edit.manageSharingHeader') }}</h1>

                    <p>{{ t.trans('catalog.edit.sharedWith') }}</p>

                    <ul class="list-group">
                        {% for user in sharedWith %}
                            <li class="list-group-item">
                                {{ user.login }}
                                <a href="{{ route.make('catalog_un_share', {catalog: catalog.id, user: user.id}) }}"
                                   onclick="return confirm('{{ t.trans('app.areYouSure') }}')"
                                >
                                    <i class="fa-solid fa-trash text-danger float-end"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ route.make('catalog_manage') }}" class="btn btn-secondary">{{ t.trans('app.back') }}</a>
{% endblock %}