{% extends 'index.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ route.make('homepage_index') }}">{{ t.trans('homepage.index.menu.home') }}</a>
                    {% if security.isAuth %}
                        <a class="nav-link" href="{{ route.make('homepage_app') }}">{{ t.trans('homepage.index.menu.app') }}</a>
                    {% endif %}
                </div>
                <div class="navbar-nav ms-auto">
                    {% if security.isAuth %}

                        <a class="nav-link" href="{{ route.make('security_logout') }}">{{ t.trans('homepage.index.menu.logout') }}</a>
                    {% else %}
                        <a class="nav-link" href="{{ route.make('security_login') }}">{{ t.trans('homepage.index.menu.login') }}</a>
                        <a class="nav-link" href="{{ route.make('security_register') }}">{{ t.trans('homepage.index.menu.signup') }}</a>
                    {% endif %}

                </div>
                {% include 'component/language_switcher.html.twig' %}
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3 pb-4">
            <h1 class="text-body-emphasis">{{ t.trans('app.name') }}</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                {{ t.trans('homepage.index.jumbotron.text') }}
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <a href="{{ route.make('security_login') }}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                    {{ t.trans('homepage.index.jumbotron.cta') }}
                </a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5 pt-0">
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">{{ t.trans('homepage.index.feature.main.header') }}</h2>
                <p class="text-body-secondary">{{ t.trans('homepage.index.feature.main.text') }}</p>
            </div>

            <div class="col">
                <div class="row g-4">
                    <div class="col-12 gap-2">
                        <h4 class="fw-semibold mb-0 text-body-emphasis">{{ t.trans('homepage.index.feature.1.header') }}</h4>
                        <p class="text-body-secondary">{{ t.trans('homepage.index.feature.1.text') }}</p>
                    </div>

                    <div class="col-12 gap-2">
                        <h4 class="fw-semibold mb-0 text-body-emphasis">{{ t.trans('homepage.index.feature.2.header') }}</h4>
                        <p class="text-body-secondary">{{ t.trans('homepage.index.feature.2.text') }}</p>
                    </div>

                    <div class="col-12 gap-2">
                        <h4 class="fw-semibold mb-0 text-body-emphasis">{{ t.trans('homepage.index.feature.3.header') }}</h4>
                        <p class="text-body-secondary">{{ t.trans('homepage.index.feature.3.text') }}</p>
                    </div>

                    <div class="col-12 gap-2">
                        <h4 class="fw-semibold mb-0 text-body-emphasis">{{ t.trans('homepage.index.feature.4.header') }}</h4>
                        <p class="text-body-secondary">{{ t.trans('homepage.index.feature.4.text') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© {{ 'now'|date('Y') }} {{ t.trans('app.name') }}</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ t.trans('homepage.index.menu.home') }}</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}
