<div class="row">
    {% for item in pagination.items %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 position-relative pb-5">
                <div class="item-image" style="background-image: url('{{ item.image }}');">
                    <div class="dropdown">
                        <button class="btn btn-light border-1 border-dark btn-sm rounded-5 px-2 float-end mt-1 me-1 opacity-75 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-edit"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ route.make('item_delete', {item: item.id}) }}" onclick="return confirm('{{ t.trans('app.areYouSure') }}')">{{ t.trans('item.page.delete') }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h2 class="card-title h5">{{ item.title }}</h2>
                        </div>
                        <div class="col-2">
                            <a href="{{ route.make('item_toggle_watched', {item: item.id}) }}" class="float-end" style="width: 10px">
                                {% if item.isWatched %}
                                    <i class="fa-solid fa-circle-check text-primary"></i>
                                {% else %}
                                    <i class="fa-regular fa-circle-check text-primary"></i>
                                {% endif %}
                            </a>
                            <div class="clearfix"></div>
                            <a href="#item-note-{{ item.id }}" class="float-end" style="width: 10px"
                               data-bs-toggle="collapse"
                               role="button" aria-expanded="false" aria-controls="item-note-{{ item.id }}"
                            >
                                <i class="fa-solid fa-book-bookmark"></i>
                            </a>
                        </div>
                    </div>

                    <p class="card-text">
                        {{ item.slugDescription }}
                    </p>

                    <div class="collapse" id="item-note-{{ item.id }}">
                        <div class="card card-body">
                            <form action="{{ route.make('item_note', {item: item.id}) }}" method="post">
                                {% include 'component/csfr_token.html.twig' %}
                                <div class="mb-3">
                                    <label for="note-{{ item.id }}" class="visually-hidden">{{ t.trans('item.page.note') }}:</label>
                                    <textarea name="note" id="note-{{ item.id }}" class="form-control w-100" style="height: 200px" placeholder="{{ t.trans('item.page.note') }}">{{ item.note }}</textarea>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-sm btn-primary float-end">{{ t.trans('item.page.saveNote') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <a href="{{ item.url }}" class="btn btn-primary position-absolute" style="bottom: 10px; left: 10px; right: 10px;" target="_blank">{{ t.trans('item.page.watch') }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include 'component/pagination.html.twig' with {pagination} %}