{% extends 'index.html.twig' %}

{% block title %}{{ t.trans('security.notFound.header') }} | {{ t.trans('app.title') }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ t.trans('security.notFound.header')|raw }}</h1>
        <p>{{ t.trans('security.notFound.text') }}</p>
        <a href="{{ route.make('homepage_index') }}">{{ t.trans('security.notFound.takeMeFromHere') }}</a>
    </div>
{% endblock %}